.footer {
  display: flex;
  justify-content: space-between;
  background-image: url("/assets/background-images/bg03.jpg");
  padding-top: 45px;
  padding-bottom: 50px;

  .links {
    display: grid;
    grid-template-columns: 12vw 12vw 12vw 12vw;

    a {
      padding-top: 10px;
      padding-bottom: 10px;
      color: hsl(0, 2%, 33%);
      opacity: 0.5;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1px;
        width: 90%;
        border-bottom: 1px solid hsl(0, 0%, 47%);
      }

      &:hover {
        opacity: 0.9;
      }
    }
  }

  .title {
    font-size: 22px;
    color: hsl(0, 0%, 47%);
    margin-bottom: 30px;
  }

  .text {
    padding-top: 5px;
  }
}
