.footer {
  display: flex;
  justify-content: space-between;
  background-image: url("/assets/background-images/bg03.jpg");
  //padding-top: 45px;
  //padding-bottom: 50px;

  .links {
    display: grid;
    grid-template-columns: repeat(4, 13vw);

    a {
      padding-top: 10px;
      padding-bottom: 10px;
      color: hsl(0, 2%, 33%);
      opacity: 0.5;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1px;
        width: 90%;
        border-bottom: 1px solid hsl(0, 0%, 47%);
      }

      &:hover {
        opacity: 0.9;
      }
    }


    .info {
      width: 400px;
    }
    
  }

  .title {
    font-size: 22px;
    color: hsl(0, 0%, 47%);
    margin-bottom: 30px;
  }

  .btn {
    display: none;
  }

  .text {
    padding-top: 5px;
  }
}

@media (max-width: 980px) {
  .footer {
    flex-direction: column;

    .links-container {
      margin-bottom: 30px;

      .links {
        grid-template-columns: 25% 25% 25% 25%;
      }

      .title {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 0;
      }
      
    }   

    .btn {
      cursor: pointer;
      display: initial;
      border-radius: 25px;
      width: 50px;
      height: 50px;
    } 

    .hide {
      display: none;
    }
    
    .show {
      display: grid;
    }
  }
}