<footer class="footer container">
  <div class="links-container">
    <div class="title">Links to Important Stuff</div>
    <button class="btn" (click)="show()">
      <i class="fas fa-arrow-down" [ngClass]="{ hide: !showLinks }"></i>
      <i class="fas fa-arrow-up" [ngClass]="{ hide: showLinks }"></i>
    </button>
    <div class="links" *ngIf="showLinks">
      <a [routerLink]="['/']">Accumson suspendisse</a>
      <a [routerLink]="['/']">Accumson suspendisse</a>
      <a [routerLink]="['/']">Accumson suspendisse</a>
      <a [routerLink]="['/']">Accumson suspendisse</a>
      <a [routerLink]="['/']">Accumson suspendisse</a>
      <a [routerLink]="['/']">Accumson suspendisse</a>
      <a [routerLink]="['/']">Accumson suspendisse</a>
      <a [routerLink]="['/']">Accumson suspendisse</a>
      <a [routerLink]="['/']">Accumson suspendisse</a>
      <a [routerLink]="['/']">Accumson suspendisse</a>
      <a [routerLink]="['/']">Accumson suspendisse</a>
      <a [routerLink]="['/']">Accumson suspendisse</a>
      <a [routerLink]="['/']">Accumson suspendisse</a>
      <a [routerLink]="['/']">Accumson suspendisse</a>
      <a [routerLink]="['/']">Accumson suspendisse</a>
      <a [routerLink]="['/']">Accumson suspendisse</a>
    </div>
  </div>
  <div class="info">
    <div class="title">An Informative Text</div>
    <p class="text">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste aut quos id
      ratione, ea sunt nostrum. Obcaecati quaerat, consectetur similique,
      excepturi deserunt odit id dolor qui ut enim minima eligendi.
    </p>
  </div>
</footer>
