<section class="section-two-column-2 container info-container">
  <div class="info-box main-box">
    <div class="title fs-28 mb-30">Three Column</div>
    <div class="subtitle fs-18 mb-30">A generic three column layout</div>
    <div class="description mb-30">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto fugiat
      nulla dolore reiciendis non tempore adipisci repellendus consectetur?
      Sequi delectus laborum aperiam, accusantium deserunt optio ipsum saepe
      veniam aspernatur ratione.
    </div>
  </div>
  <div class="info-box">
    <div class="title fs-28 mb-30">Three Column</div>
    <ul class="list">
      <li class="list-item"><a [routerLink]="['/']">Sed dolore viverra</a></li>
      <li class="list-item"><a [routerLink]="['/']">Sed dolore viverra</a></li>
      <li class="list-item"><a [routerLink]="['/']">Sed dolore viverra</a></li>
      <li class="list-item"><a [routerLink]="['/']">Sed dolore viverra</a></li>
      <li class="list-item"><a [routerLink]="['/']">Sed dolore viverra</a></li>
    </ul>
  </div>
  <div class="info-box">
    <div class="title fs-28 mb-30">Three Column</div>
    <div class="description mb-30">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto fugiat
      nulla dolore reiciendis non tempore adipisci repellendus consectetur?
      Sequi delectus laborum aperiam, accusantium deserunt optio ipsum saepe
      veniam aspernatur ratione.
    </div>
    <ul class="list">
      <li class="list-item"><a [routerLink]="['/']">Sed dolore viverra</a></li>
      <li class="list-item"><a [routerLink]="['/']">Sed dolore viverra</a></li>
      <li class="list-item"><a [routerLink]="['/']">Sed dolore viverra</a></li>
      <li class="list-item"><a [routerLink]="['/']">Sed dolore viverra</a></li>
      <li class="list-item"><a [routerLink]="['/']">Sed dolore viverra</a></li>
    </ul>
  </div>
</section>
