<section class="section-range container">
  <div class="range">
    <div class="title">
      <div class="head">Who We Are</div>
      <div class="subhead">A subheading about who we are</div>
    </div>
    <img class="photo" src="assets/pic01.jpg" alt="photo" />
    <p class="text">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam fugiat
      numquam ipsam amet! Nostrum cum itaque facere voluptatum aperiam eius esse
      repudiandae laboriosam, delectus, corrupti voluptates quaerat dolorem?
      Est, blanditiis?
    </p>
  </div>

  <div class="range">
    <div class="title">
      <div class="head">Who We Are</div>
      <div class="subhead">A subheading about who we are</div>
    </div>
    <img class="photo" src="assets/pic01.jpg" alt="photo" />
    <p class="text">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam fugiat
      numquam ipsam amet! Nostrum cum itaque facere voluptatum aperiam eius esse
      repudiandae laboriosam, delectus, corrupti voluptates quaerat dolorem?
      Est, blanditiis?
    </p>
  </div>

  <div class="range">
    <div class="title">
      <div class="head">Who We Are</div>
      <div class="subhead">A subheading about who we are</div>
    </div>
    <img class="photo" src="assets/pic01.jpg" alt="photo" />
    <p class="text">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam fugiat
      numquam ipsam amet! Nostrum cum itaque facere voluptatum aperiam eius esse
      repudiandae laboriosam, delectus, corrupti voluptates quaerat dolorem?
      Est, blanditiis?
    </p>
  </div>
</section>
