
  .carousel-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
  }
  

.carousel-item {
  display: block;
}

.carousel-nav-button {
  display: none;
}





.section-range {
  background-color: #fff;
  background-image: url("/assets/background-images/banner-frame.png");
  //padding-top: 45px;
  //padding-bottom: 50px;
  //display: flex;
  //justify-content: space-between;
  //align-items: stretch;
  //flex-wrap: wrap;
  //row-gap: 30px;

  .ranges {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
  }

  .range {
    display: flex;
    flex-direction: column;
    //width: 380px;
    //min-height: 480px;
    height: 480px;
    background-color: #fff;
    padding: 30px 25px 40px 25px;
    box-shadow: 2px 2px 1px 1px #ccc;

    .title {
      margin-bottom: 30px;
      .head {
        font-size: 28px;
        color: hsl(0, 3%, 28%);
        margin-bottom: 10px;
      }

      .subhead {
        font-size: 20px;
        color: hsl(0, 0%, 47%);
      }
    }

    .photo {
      width: 100%;
      margin-bottom: 30px;
    }

    .we-do-list {

      .we-do-list-item {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        position: relative;

        img {
          margin-right: 20px;
        }

        div {
          font-size: 18px;
          color: hsl(0, 6%, 19%);
        }

        &:not(:last-child):before {
          content: "";
          position: absolute;
          left: 0;
          bottom: -10px;
          height: 1px;
          width: 100%;
          border-bottom: 1px solid hsl(0, 0%, 60%);
        }
      }
    }

    .quota-list {
      list-style-type: none;

      .quota-list-item {
        position: relative;
        display: flex;

        img {
          width: 3em;
          height: 3em;
          margin-right: 20px;
        }

        .quota-container {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .author {
            font-size: 13px;
            font-weight: 600;
          }

          .quota {
            font-style: italic;
            color: hsl(0, 0%, 47%);
          }
        }

        &:not(:last-child) {
          margin-bottom: 30px;
        }

        &:not(:last-child):before {
          content: "";
          position: absolute;
          left: 0;
          bottom: -10px;
          height: 1px;
          width: 100%;
          border-bottom: 1px solid hsl(0, 0%, 60%);
        }
      }
    }
  }
}


@media (max-width: 1200px) {
  .section-range {

    .ranges {
      display: block;
    }
    // flex-direction: column;

    // .range {
    //   width: 100%;

    //   &:not(:last-child) {
    //     margin-bottom: 30px;
    //   }
    // }
  }

  .carousel-container {
    position: relative;
    //overflow: hidden;
    height: 500px;
  }
  .carousel-items {
    position: absolute;
    top: 0;
    left: 50%;
    //width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    transform: translateX(-50%);
  }
  .carousel-item {
    display: none;
    //width: 100%;
    width: 600px;
  }
  .carousel-item.active {
    display: block;
  }
  .carousel-nav-button {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    outline: none;
    cursor: pointer;
  }
  .carousel-nav-button.prev {
    left: 20px;
  }
  .carousel-nav-button.next {
    right: 20px;
  }
}