.section-range {
  background-color: #fff;
  background-image: url("../../../../assets/background-images/banner-frame.png");
  padding-top: 45px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .range {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22vw;
    min-height: 480px;
    background-color: #fff;
    padding: 30px 25px 40px 25px;
    box-shadow: 2px 2px 1px 1px #ccc;

    .title {
      .head {
        font-size: 28px;
        color: hsl(0, 3%, 28%);
        margin-bottom: 10px;
      }

      .subhead {
        font-size: 20px;
        color: hsl(0, 0%, 47%);
      }
    }

    .photo {
      width: 100%;
    }
  }
}
