<section class="section-range">
  <div class="container-xs container">
    <div class="pt-3 pb-2">
      <div class="carousel-container">
        <ul class="carousel-items">
          <li class="carousel-item">
            <div class="range">
              <div class="title">
                <div class="head">Who We Are</div>
                <div class="subhead">A subheading about who we are</div>
              </div>
              <img class="photo" src="/assets/pic01.jpg" alt="photo" />
              <p class="text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Quibusdam fugiat numquam ipsam amet! Nostrum cum itaque facere
                voluptatum aperiam eius esse repudiandae laboriosam, delectus,
                corrupti voluptates quaerat dolorem? Est, blanditiis?
              </p>
            </div>
          </li>
          <li class="carousel-item">
            <div class="range">
              <div class="title">
                <div class="head">Who We Are</div>
                <div class="subhead">A subheading about who we are</div>
              </div>
              <ul class="we-do-list">
                <li class="we-do-list-item">
                  <img src="/assets/icon-checkmark.png" alt="checkmark" />
                  <div>Sed mattis quis rutrum accum</div>
                </li>
                <li class="we-do-list-item">
                  <img src="/assets/icon-checkmark.png" alt="checkmark" />
                  <div>Sed mattis quis rutrum accum</div>
                </li>
                <li class="we-do-list-item">
                  <img src="/assets/icon-checkmark.png" alt="checkmark" />
                  <div>Sed mattis quis rutrum accum</div>
                </li>
                <li class="we-do-list-item">
                  <img src="/assets/icon-checkmark.png" alt="checkmark" />
                  <div>Sed mattis quis rutrum accum</div>
                </li>
                <li class="we-do-list-item">
                  <img src="/assets/icon-checkmark.png" alt="checkmark" />
                  <div>Sed mattis quis rutrum accum</div>
                </li>
              </ul>
            </div>
          </li>
          <li class="carousel-item">
            <div class="range">
              <div class="title">
                <div class="head">What People Are Saying</div>
                <div class="subhead">A subheading about who we are</div>
              </div>
              <ul class="quota-list">
                <li class="quota-list-item">
                  <img src="assets/pic01.jpg" alt="photo" />
                  <div class="quota-container">
                    <div class="quota">"Neque nisidapub mattis"</div>
                    <div class="author">Jane Doe, CEO of UnititledCorp</div>
                  </div>
                </li>
                <li class="quota-list-item">
                  <img src="assets/pic01.jpg" alt="photo" />
                  <div class="quota-container">
                    <div class="quota">"Neque nisidapub mattis"</div>
                    <div class="author">Jane Doe, CEO of UnititledCorp</div>
                  </div>
                </li>
                <li class="quota-list-item">
                  <img src="assets/pic01.jpg" alt="photo" />
                  <div class="quota-container">
                    <div class="quota">"Neque nisidapub mattis"</div>
                    <div class="author">Jane Doe, CEO of UnititledCorp</div>
                  </div>
                </li>
              </ul>
            </div>
          </li>
        </ul>
        <button class="carousel-nav-button prev">Prev</button>
        <button class="carousel-nav-button next">Next</button>
      </div>

      <!-- 
      <div class="range">
        <div class="title">
          <div class="head">Who We Are</div>
          <div class="subhead">A subheading about who we are</div>
        </div>
        <ul class="we-do-list">
          <li class="we-do-list-item">
            <img src="/assets/icon-checkmark.png" alt="checkmark" />
            <div>Sed mattis quis rutrum accum</div>
          </li>
          <li class="we-do-list-item">
            <img src="/assets/icon-checkmark.png" alt="checkmark" />
            <div>Sed mattis quis rutrum accum</div>
          </li>
          <li class="we-do-list-item">
            <img src="/assets/icon-checkmark.png" alt="checkmark" />
            <div>Sed mattis quis rutrum accum</div>
          </li>
          <li class="we-do-list-item">
            <img src="/assets/icon-checkmark.png" alt="checkmark" />
            <div>Sed mattis quis rutrum accum</div>
          </li>
          <li class="we-do-list-item">
            <img src="/assets/icon-checkmark.png" alt="checkmark" />
            <div>Sed mattis quis rutrum accum</div>
          </li>
        </ul>
      </div>

      <div class="range">
        <div class="title">
          <div class="head">What People Are Saying</div>
          <div class="subhead">A subheading about who we are</div>
        </div>
        <ul class="quota-list">
          <li class="quota-list-item">
            <img src="assets/pic01.jpg" alt="photo" />
            <div class="quota-container">
              <div class="quota">"Neque nisidapub mattis"</div>
              <div class="author">Jane Doe, CEO of UnititledCorp</div>
            </div>
          </li>
          <li class="quota-list-item">
            <img src="assets/pic01.jpg" alt="photo" />
            <div class="quota-container">
              <div class="quota">"Neque nisidapub mattis"</div>
              <div class="author">Jane Doe, CEO of UnititledCorp</div>
            </div>
          </li>
          <li class="quota-list-item">
            <img src="assets/pic01.jpg" alt="photo" />
            <div class="quota-container">
              <div class="quota">"Neque nisidapub mattis"</div>
              <div class="author">Jane Doe, CEO of UnititledCorp</div>
            </div>
          </li>
        </ul>
      </div> -->
    </div>
  </div>
</section>
