<section class="section-three-column container">
  <div class="info">
    <div class="title fs-28 mb-30">Three Column</div>
    <div class="description mb-30">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto fugiat
      nulla dolore reiciendis non tempore adipisci repellendus consectetur?
      Sequi delectus laborum aperiam, accusantium deserunt optio ipsum saepe
      veniam aspernatur ratione.
    </div>
    <ul class="list">
      <li class="list-item"><a [routerLink]="['/']">Sed dolore viverra</a></li>
      <li class="list-item"><a [routerLink]="['/']">Sed dolore viverra</a></li>
      <li class="list-item"><a [routerLink]="['/']">Sed dolore viverra</a></li>
      <li class="list-item"><a [routerLink]="['/']">Sed dolore viverra</a></li>
      <li class="list-item"><a [routerLink]="['/']">Sed dolore viverra</a></li>
    </ul>
  </div>
  <div class="info center-info">
    <div class="title fs-28">Three Column</div>
    <div class="subtitle fs-18 mb-30">A generic three column layout</div>
    <div class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto fugiat
      nulla dolore reiciendis non tempore adipisci repellendus consectetur?
      Sequi delectus laborum aperiam, accusantium deserunt optio ipsum saepe
      veniam aspernatur ratione.
    </div>
  </div>
  <div class="info">
    <div class="title fs-28 mb-30">Three Column</div>
    <ul class="list">
      <li class="list-item"><a [routerLink]="['/']">Sed dolore viverra</a></li>
      <li class="list-item"><a [routerLink]="['/']">Sed dolore viverra</a></li>
      <li class="list-item"><a [routerLink]="['/']">Sed dolore viverra</a></li>
      <li class="list-item"><a [routerLink]="['/']">Sed dolore viverra</a></li>
      <li class="list-item"><a [routerLink]="['/']">Sed dolore viverra</a></li>
    </ul>
  </div>
  <div class="info">
    <div class="title fs-28 mb-30">Three Column</div>
    <ul class="list">
      <li class="list-item"><a [routerLink]="['/']">Sed dolore viverra</a></li>
      <li class="list-item"><a [routerLink]="['/']">Sed dolore viverra</a></li>
      <li class="list-item"><a [routerLink]="['/']">Sed dolore viverra</a></li>
      <li class="list-item"><a [routerLink]="['/']">Sed dolore viverra</a></li>
      <li class="list-item"><a [routerLink]="['/']">Sed dolore viverra</a></li>
    </ul>
  </div>
  <div class="info">
    <div class="title fs-28 mb-30">Three Column</div>
    <div class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto fugiat
      nulla dolore reiciendis non tempore adipisci repellendus consectetur?
      Sequi delectus laborum aperiam, accusantium deserunt optio ipsum saepe
      veniam aspernatur ratione.
    </div>
  </div>
</section>

<section class="section-three-column-2 container">
  <div class="info">
    <div class="title fs-28">Best Knowledge</div>
    <div class="text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia minima
      repudiandae dolor quod ipsa, iure dolore incidunt repellat rem suscipit!
      Maiores unde, odio quam veritatis ullam similique atque veniam asperiores.
    </div>
  </div>
  <div class="photo-container">
    <img src="/assets/pic01.jpg" alt="photo" />
  </div>
  <div class="info">
    <div class="title fs-28">Comfort Schedule</div>
    <div class="text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia minima
      repudiandae dolor quod ipsa, iure dolore incidunt repellat rem suscipit!
      Maiores unde, odio quam veritatis ullam similique atque veniam asperiores.
    </div>
  </div>
  <div class="info">
    <div class="title fs-28">Best Knowledge</div>
    <div class="text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia minima
      repudiandae dolor quod ipsa, iure dolore incidunt repellat rem suscipit!
      Maiores unde, odio quam veritatis ullam similique atque veniam asperiores.
    </div>
  </div>
  <div class="info">
    <div class="title fs-28">Best Knowledge</div>
    <div class="text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia minima
      repudiandae dolor quod ipsa, iure dolore incidunt repellat rem suscipit!
      Maiores unde, odio quam veritatis ullam similique atque veniam asperiores.
    </div>
  </div>
</section>
