.section-three-column {
    
    .info-container {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .center-info-box {
        grid-column: 2/3;
        grid-row: span 2;
    }   
}

@media (max-width: 980px) {
    .section-three-column {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .center-info-box {
            grid-row: 1/3;
            grid-column: span 2;
        }
    }
}