<section class="section-welcome container">
  <div class="info" *ngFor="let i of numbers">
    <div class="photo-container">
      <img class="photo" src="assets/pic01.jpg" alt="photo" />
    </div>
    <div class="text">
      <h3>Welcome to Halcyonic</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae inventore
        veritatis id. Repellendus autem rerum nostrum incidunt, error aliquid
        voluptate modi in accusantium, obcaecati illo sunt officia rem, aperiam
        doloribus.
      </p>
    </div>
  </div>
</section>
