<header class="header container">
  <input [(ngModel)]="checkboxFlag" type="checkbox" id="menu-bar" />
  <div class="menu-bar-container">
    <label for="menu-bar">
      <i class="fas fa-bars"></i>
    </label>
  </div>

  <div class="logo" [routerLink]="['/']">Halcyonic</div>

  <nav>
    <ul class="navbar">
      <div class="closebtn" (click)="closeSideBar()">&times;</div>
      <li class="navbar-item">
        <a [routerLink]="['/']">Homepage</a>
      </li>
      <li class="navbar-item">
        <a [routerLink]="['/three-column']">Three Column</a>
      </li>
      <li class="navbar-item">
        <a [routerLink]="['/']">Two Column #1</a>
      </li>
      <li class="navbar-item">
        <a [routerLink]="['/']">Two Column #2</a>
      </li>
      <li class="navbar-item">
        <a [routerLink]="['/about']">About</a>
      </li>
    </ul>
  </nav>

  <hr class="divider-line" />
</header>
