<header>
  <div class="container">
    <div class="row justify-xs-space-between align-xs-center pt-2 pb-1">
      <input [(ngModel)]="checkboxFlag" type="checkbox" id="menu-bar" />
      <div class="menu-bar-container">
        <label for="menu-bar">
          <i class="fas fa-bars"></i>
        </label>
      </div>

      <div class="font-xxl text-white" [routerLink]="['/']">Halcyonic</div>

      <nav>
        <ul class="row gap-xs-0 gap-xl-3">
          <div class="closebtn" (click)="closeSideBar()">&times;</div>
          <li *ngFor="let route of routes">
            <a
              [routerLink]="['/' + route.path]"
              class="font-lg text-gray-dark-1 text-white-hover"
              [ngClass]="{ 'text-gray-light-5': route.path == currentRoute }"
              (click)="handleClick(route.path)"
              >{{ route.text }}</a
            >
          </li>
        </ul>
      </nav>
      <div class="empty-blank"></div>
    </div>
  </div>
  <!-- <hr class="line-divider" /> -->
</header>
