<header class="header container">
  <div class="logo">Halcyonic</div>
  <nav>
    <ul class="navbar">
      <li class="navbar-item">
        <a [routerLink]="['/']">Homepage</a>
      </li>
      <li class="navbar-item">
        <a [routerLink]="['/']">Three Column</a>
      </li>
      <li class="navbar-item">
        <a [routerLink]="['/']">Two Column #1</a>
      </li>
      <li class="navbar-item">
        <a [routerLink]="['/']">Two Column #2</a>
      </li>
      <li class="navbar-item">
        <a [routerLink]="['/']">One Column</a>
      </li>
    </ul>
  </nav>
</header>
