<section class="section-promo">
  <div class="container-xs container">
    <div
      class="row justify-xl-space-between align-xl-flex-start pt-3 pb-3 col-gap-xs-2 col-gap-xl-0 col-gap-xl-2 mobile-content"
    >
      <div class="promo-container col-xl-6">
        <h2 class="font-xl text-gray-light-1">
          {{ text.substring(0, 78) }}...
        </h2>
        <button class="button">Go on, click me!</button>
      </div>

      <div class="col-xs-12 col-xl-6">
        <div class="photo-container">
          <img class="photo" src="/assets/pic01.jpg" alt="photo" />
        </div>
      </div>
    </div>
  </div>

  <!-- <hr class="divider-line" /> -->
</section>
