.section-promo {
  display: flex;
  min-height: 300px;
  justify-content: space-between;
  align-items: center;
  background-image: url("/assets/background-images/banners-section.jpg");

  .promo-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    .promo-title {
      font-weight: 300;
      font-size: 30px;
      color: hsl(0, 5%, 80%);
      margin-bottom: 100px;
    }

    button {
      all: unset;
      cursor: pointer;
      padding: 10px 25px;
      background-color: hsl(13, 100%, 43%);
      color: hsl(0, 6%, 87%);
      border-radius: 5px;
      box-shadow: -1px 1px 5px grey, 0px 0px 5px black;

      &:hover {
        box-shadow: -1px 1px 25px gray, 10px 2px 15px black;
      }
    }
  }

  .photo-container {
    padding: 10px;
    width: 590px;
    height: 210px;
    background-color: #fff;
    background-image: url("/assets/background-images/banner-frame.png");
    margin-left: 10px;
  

    .photo {
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 900px) {
  .section-promo {
    flex-direction: column-reverse;
    padding-top: 30px;
    padding-bottom: 30px;

    .promo-text {
      align-items: center;
      
      .promo-title {
        margin-bottom: 20px;
      }

      button {
        width: 80%;
        text-align: center;
      }
    }

    .photo-container {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}